---
layout: layout
title: Planetary Playing Cards
---

<h1>Planetary Playing Cards</h1>
<div class="grid-container">
  <section class="card sun">
    <div class="circle sun-circle"></div>
    <h2>Sun</h2>
    <p>Type: G2V</p>
  </section>
  <section class="card mercury">
    <div class="circle mercury-circle"></div>
    <h2>Mercury</h2>
    <p>0.39 AU</p>
  </section>
  <section class="card venus">
    <div class="circle venus-circle"></div>
    <h2>Venus</h2>
    <p>0.72 AU</p>
  </section>
  <section class="card earth">
    <div class="circle earth-circle"></div>
    <h2>Earth</h2>
    <p>1.00 AU</p>
  </section>
  <section class="card mars">
    <div class="circle mars-circle"></div>
    <h2>Mars</h2>
    <p>1.52 AU</p>
  </section>
  <section class="card jupiter">
    <div class="circle jupiter-circle"></div>
    <h2>Jupiter</h2>
    <p>5.20 AU</p>
  </section>
  <section class="card saturn">
    <div class="circle saturn-circle"></div>
    <h2>Saturn</h2>
    <p>9.58 AU</p>
  </section>
  <section class="card uranus">
    <div class="circle uranus-circle"></div>
    <h2>Uranus</h2>
    <p>19.22 AU</p>
  </section>
  <section class="card neptune">
    <div class="circle neptune-circle"></div>
    <h2>Neptune</h2>
    <p>30.05 AU</p>
  </section>
</div>
